.fileInputContainer {
    position: absolute;
    background-color: #428645;

    height: 100%;
}

.fileInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 5rem;
    height: 4rem;
    opacity: 0;
    cursor: pointer; /* Для улучшения UX */
}