.event-detail-card{
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px;
    background-color: var(--custom-div-back);
    transition: transform 0.3s ease-in-out;
    touch-action: pan-y;
}

.event-detail-card img {
    width: 70%;
    height: 60%;
}
.form-input{
    background-color: #414547;
}

.no-focus-outline:focus {
    outline: none;
}