/* DateRangePicker.css */
.react-datepicker__input-container{
    display: flex;
    justify-content: center;

}

.react-datepicker__month-container{
    background-color: var(--color-background);
    border-radius: 5px;
}

.react-datepicker {
    left: 27%;
    font-family: 'Arial', sans-serif;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    border-radius: 8px;
    border-color: var(--color-background);;
}

.react-datepicker__header {
    background-color: var(--custom-div-back);
    border-bottom: 1px solid var(--custom-input-back);
}

.react-datepicker__month {
    background-color: var(--custom-div-back);

}

.react-datepicker__current-month,
.react-datepicker__day-name {
    color: var(--color-heading)
}

.react-datepicker__day {
    color: var(--color-heading);
}


.react-datepicker__day {
    color: var(--color-heading);
}

.react-datepicker__day--selected,
.react-datepicker__day--selecting-range,
.react-datepicker__day--in-range {
    background-color: var(--custom-buttons-back-blue);
    color: black;
}


.react-datepicker__time-container {
    position: absolute;
    right: 50%;
    border-left: 1px solid var(--color-background);
}

.react-datepicker__time-box {
    width: 100px;
    background-color: var(--custom-div-back);
}

.react-datepicker-time__header{
    color: var(--color-heading);
}
.react-datepicker__time-list-item {
    color: var(--color-text);
}

.react-datepicker__time-list-item:hover {
    background-color: var(--custom-buttons-back-blue);
}